body {
  background: #eeeeee;
  font-family: "Merriweather", serif;
}

.title {
  width: 100%;
  color: black;
  text-align: center;
}
.title h1 {
  color: black;
}

p {
  font-family: "Roboto", sans-serif;
}

.right_content {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.report {
  box-sizing: border-box;
  display: flex;
  width: 50%;
  height: 100%;
  background-color: white;
  margin: 40px;
}

.report img {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

.key {
  background-color: white;
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0px;
  margin: 40px;
}

.percentages {
  background-color: white;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

#plag,
#sim,
#gram {
  height: 30%;
  width: 100;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

h2 {
  text-align: center;
}

.fa {
  color: rgba(0, 0, 0, 0.8);
  width: 10%;
}

.right_bar {
  display: inline-block;
  height: 38px;
  width: 90%;
}

.top,
.bottom {
  height: 50%;
  flex-direction: column;
}

.bottom {
  width: 98%;
  position: relative;
  background: #eeeeee;
}

.bottom > span {
  display: block;
  height: 100%;

  position: relative;
  overflow: hidden;
}

.plagiarism {
  background-color: #2e8db6;
}

.similarities {
  background-color: #ffd97d;
}

.grammatical_errors {
  background-color: #b31000;
}

.space {
  height: 10%;
  width: 100%;
  background-color: #eeeeee;
}

.references {
  background-color: white;
  width: 100%;
  height: 50%;
}

.reference,
.reference_last {
  border-bottom: 3px solid #eeeeee;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 10px;
}

.reference_last {
  border-bottom: 0px;
}

.num {
  align-items: center;
  background-color: #2e8db6;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin-top: 20px;
  padding: 10px;
  height: 100%;
  width: 5%;
}

.website {
  height: 100%;
  width: 95%;
  align-items: center;
  font-size: 15px;
  padding: 10px;
}
