.add_category {
  background: #2e8db6;
  border: none;
  padding: 5px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  position: relative;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0;

}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  right: 45%;
}

/* Add styles to the form container */
.form-container {
  box-sizing: border-box;
  background-color: #f1f1f1;
  color: #2e8db6;
  padding: 0.5rem;
  width: 13rem;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  margin-top: 1.5rem;
  font-family: "Times New Roman", Times, serif;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 85%;
  padding: 15px;
  margin: 5px 0 20px 0;
  text-align: center;
  border: none;
  background: #ddd;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #2e8db6;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0; 
  margin-bottom: .75rem;
  width: 100%;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
  margin-left: 5px;
}

.form-container .cancel, .form-container .submit { 
  width: 50%;
}

#buttons {
  display: flex;
}


/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
