.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 10px;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 100%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}

h2 {
  text-align: center;
}

#message_bar {
  height: 5rem;
}
#message {
  height: 4rem;
  width: 60rem;
}

/* Set a style for the submit/login button */
.btn {
  background-color: #2e8db6;
  color: white;
  border: none;
  padding: 0.5rem 0; 
  margin-bottom: .75rem;
  width: 10%;
  opacity: 0.8;
  margin-top: 0.5rem;
}

#button-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

input[type="text"]:focus {
  background-color: #f1f1f1;
  outline: none;
}