<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="js/toggle-nav.js"></script>
    
    <title>Login</title>
    <style>
        html {
             
             background: url("/static/images/school.jpg") no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
             -o-background-size: cover;
            background-size: cover;
        }          
       
    </style>
</head>
<body>

        <div id = "background">

        <div id = "container">
            
            <form action="login.php" method="post">

            <h3>TriScan</h3>

            <input type="text" placeholder="Enter email" name="email" id="email" required>
            <input type="password" placeholder="Enter password" name="password" id="password" required>\

                <a href = student ><button type="submit">Login</button></a>

            
            <!----put into flexbox-->
            
            <a href = create_account ><button type = "button" class="create">Create Account</button></a>
            <a href = forgot_pass ><button type = "button" class="pass">Forget password?</button></a>
    
            </form>
            
              
        </div> 
        </div>
       
</body>
</html>