<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/categories.css">
    <link rel= "stylesheet" href="/static/css/table.css">
    <link rel= "stylesheet" href="/static/css/modal.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    

    <title>Dashboard</title>
</head>

<body>

    <div class="content">

      <div class="overlay hidden"></div>

        <div class="sidebar">
            <a class = "picture" href="">
                <img src="/static/images/school.jpg">
            </a>
            <a class="active" href="{{ url_for('dashboard_page')}}">Dash</a>
            <a href="#contact">Settings</a>
            <a href="{{ url_for('logout')}}">Logout</a>
        </div>



        <div class="right_content">

            <div class="header" style="border-bottom: none;">
                <div class = "hello_bar">
                    <div class ="hello_left">
                        <p>Software Engineering II</p>
                    </div>
                    <div class = "hello_right">
                        <i class="fa fa-apple fa-3x" aria-hidden="true"></i>
                    </div>
                </div>

                
                <a  href="/templates/report.html">
                <button class = "add_category" onclick="openForm()">
                    <div class ="add_left">
                        <p>View Reports</p>
                    </div>
                    <div class = "add_right">
                        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                    </div>
                </button>
              </a>

            </div>

            <h1>Upcoming Coursework</h1>
                <table>
                    <tr>
                      <th>Coursework Name</th>
                      <th>Category</th>
                      <th>Due Date</th>
                      <th>Upload</th>
                    </tr>
                    <tr>
                      <td>Midterm Report</td>
                      <td>Assignment</td>
                      <td>October 18th, 2021</td>
                      <td><button class="show-modal"><i class="fa fa-upload"  aria-hidden="true"></i></button></td>
                    </tr>
                    <tr>
                        <td>Midterm Report</td>
                        <td>Assignment</td>
                        <td>October 18th, 2021</td>
                        <td><button class="show-modal"><i class="fa fa-upload"  aria-hidden="true"></i></button></td>
                      </tr>
                      <tr>
                        <td>Midterm Report</td>
                        <td>Assignment</td>
                        <td>October 18th, 2021</td>
                        <td><button class="show-modal"><i class="fa fa-upload"  aria-hidden="true"></i></button></td>
                      </tr>
                      <tr>
                        <td>Midterm Report</td>
                        <td>Assignment</td>
                        <td>October 18th, 2021</td>
                        <td><button class="show-modal"><i class="fa fa-upload"  aria-hidden="true"></i></button></td>
                      </tr>
                   
                  </table>

                  <h1>Previous Coursework</h1>
                  <table>
                      <tr>
                        <th>Coursework Name</th>
                        <th>Category</th>
                        <th>Due Date</th>
                        <th>Download</th>
                      </tr>
                      <tr>
                        <td>Midterm Report</td>
                        <td>Assignment</td>
                        <td>October 18th, 2021</td>
                        <td><i class="fa fa-download" aria-hidden="true"></i></td>
                      </tr>
                      <tr>
                          <td>Midterm Report</td>
                          <td>Assignment</td>
                          <td>October 18th, 2021</td>
                          <td><i class="fa fa-download" aria-hidden="true"></i></i></td>
                        </tr>
                        <tr>
                          <td>Midterm Report</td>
                          <td>Assignment</td>
                          <td>October 18th, 2021</td>
                          <td><i class="fa fa-download" aria-hidden="true"></i></i></td>
                        </tr>
                        <tr>
                          <td>Midterm Report</td>
                          <td>Assignment</td>
                          <td>October 18th, 2021</td>
                          <td><i class="fa fa-download" aria-hidden="true"></i></td>
                        </tr>
                     
                    </table>
            
         


        </div>

    </div>

    <form action="/upload-file" method="POST" enctype="multipart/form-data">
      <div class="modal hidden">
        <h1>Upload File</h1>
        <div>
          <div>
            <input class="choose-btn" name="file" type="file" />
          </div>
          <button class="cancel-btn close-modal">Cancel</button>
          <button type="submit" class="submit-btn">Upload</button>
      </div>
     </div>
    </form>

    <script>
        function openForm() {
          document.getElementById("myForm").style.display = "block";
        }

        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }

        const modal = document.querySelector('.modal');
        const overlay = document.querySelector('.overlay');
        const btnCloseModal = document.querySelector('.close-modal');
        const btnsOpenModal = document.querySelectorAll('.show-modal');

        const openModal = function () {
          modal.classList.remove('hidden');
          overlay.classList.remove('hidden');
        };

        const closeModal = function () {
          modal.classList.add('hidden');
          overlay.classList.add('hidden');
        };

        for (let i = 0; i < btnsOpenModal.length; i++)
          btnsOpenModal[i].addEventListener('click', openModal);

        btnCloseModal.addEventListener('click', closeModal);
        overlay.addEventListener('click', closeModal);

        document.addEventListener('keydown', function (e) {
          // console.log(e.key);

          if (e.key === 'Escape' && !modal.classList.contains('hidden')) {
            closeModal();
          }
        });

    </script>
</body>

</html>