<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="js/toggle-nav.js"></script>
    
    <title>Login</title>

    <style>
        html {
             
             background: url("/static/images/school.jpg") no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
             -o-background-size: cover;
            background-size: cover;
        }          
       
        </style>
</head>
<body>

  
  

        <div id = "background">

            <div id = "container2">
            
                <form action="{{url_for('sign_up')}}" method="post">
    
                <h3>Create Account</h3>
    
                <input type = "text" placeholder="Enter first name" name = "f_name" required>
                <input type = "text" placeholder="Enter last name" name = "l_name" required>
                <input type = "text" placeholder="Enter email" name = "email" required>
                <input type="password" placeholder="Enter password" name="password" required>
                <label style="display:inline-block"><input type="radio" name="profession" value="student" checked>Student</label>
                <label style="display:inline-block"><input type="radio" name="profession" value="faculty">Faculty</label>
               
                <button type="submit" class="cancelbtn"  onsubmit="document.location.href='{{ url_for('login') }}'">Submit</button>
                <button type="button" class="cancelbtn"  onclick="document.location.href='{{ url_for('login') }}'">Cancel</button>
                </form>
                
                  
              </div> 
        </div>
       
</body>
</html>