<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/categories.css">
    <link rel="stylesheet" href="/static/css/table.css">
    <link rel="stylesheet" href="/static/css/roster.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <title>Faculty Course View</title>
</head>

<body>
    <div class="content">
        <div class="sidebar">
            <a class = "picture" href="">
                <img src="/static/images/school.jpg">
            </a>
            <a href="{{ url_for('dashboard_page')}}">Dash</a>
            <a href="{{ url_for('logout')}}">Logout</a>
        </div>
        <div class="right_content">
            <div class="header" style="border-bottom: none;">
                <div class = "hello_bar">
                    <div class ="hello_left">
                        <p>{{ course }}</p>
                    </div>
                    <div class = "hello_right">
                        <i class="fa fa-apple fa-3x" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        <div id="container">
            <div id="category-content">
                <div id="category-header">
                    <h3> Categories </h3>
                    <button class = "add_category" onclick="openForm()">
                    <h5>Add</h5>
                    <div class = "add_right">
                        <i class="fa fa-plus fa-1x" aria-hidden="true"></i>
                    </div>
                    </button>
                    <div class="form-popup" id="myForm">
                        <form  class="form-container" action="{{ url_for('add_category', courseId=courseId) }}" method="POST">
                            <h3>Add a Category</h3>
                            <input type="text" placeholder="Enter Name" name="category" id="category" required>    
                            <div id="buttons"> 
                                <button type="submit" class="btn submit">Confirm</button>
                                <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
                            </div>              
                          
                        </form>
                    </div>
                </div>
                <div id="centered">
                    <section class="cards">
                        {% for category in categories  %}
                            <article class="card">
                                <a href="{{ url_for('generate_category_reports', courseId=courseId, category=category) }}">
                                    <p>{{ category }}</p>
                                </a>
                            </article>
                        {% endfor %}
                    </section>
                </div>
            </div>
            <div id="roster-content">
                <div id="roster-header">
                    <h3>Roster</h3>
                    <button class = "add_category" onclick="openForm1()">
                        <h5>Add</h5>
                        <div class = "add_right">
                            <i class="fa fa-plus fa-1x" aria-hidden="true"></i>
                        </div>
                        </button>
                        <div class="form-popup2" id="add-person">
                            <form  class="form-container" action="{{ url_for('add_person', courseId=courseId) }}" method="POST">
                                <h3>Add a Person</h3>
                                <input type="text" placeholder="Enter Name" name="name" id="name" required>   
                                <div id="radio">
                                    <label style="display:flex; width: 40%;"><input type="radio" name="profession" id="role" value="student" checked required>Student</label>
                                    <label><input type="radio" name="profession" value="faculty">Faculty</label> 
                                </div>
                                <div id="buttons"> 
                                    <button type="submit" class="btn submit">Confirm</button>
                                    <button type="button" class="btn cancel" onclick="closeForm1()">Cancel</button>
                                </div>              
                                
                            </form>
                        </div>
                </div>
                <table id=roster>
                    <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Remove</th>
                    </tr>
                    {% for student in students %}
                        <tr>
                            <td><a href="{{url_for('list_reports', courseId=courseId, student_name=student['fullName'] )}}">{{ student['fullName'] }}</a></td>
                            <td>{{ student['role'] }}</td>
                            <td><a href="{{url_for('delete_from_roster', courseId=courseId, uid=student['uid'])}}"><i class="fa fa-minus"></i></a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>   
        </div>
    </div>
    <script>
        function openForm() { document.getElementById("myForm").style.display = "block"; }
        function openForm1() { document.getElementById("add-person").style.display = "block"; }
        function closeForm() { document.getElementById("myForm").style.display = "none"; }
        function closeForm1() { document.getElementById("add-person").style.display = "none"; }
    </script>
</body>
</html>