<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Dashboard</title>
</head>

<body>

    <div class="content">

        <div class="sidebar">
            <a class="picture" href="">
                <img src="/static/images/school.jpg">
            </a>
            <a class="active" href="#home">Dash</a>
            <a href="#contact">Settings</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>

        <div class="right_content">

            <div class="header">
                <div class="hello_bar">
                    <div class="hello_left">
                        <p>Hello Dr. {{ faculty_name }}</p>
                    </div>
                    <div class="hello_right">
                        <i class="fa fa-apple fa-3x" aria-hidden="true"></i>
                    </div>
                </div>

            </div>

            <div class="centered">

                <section class="cards">

                    <!-- <div class="sample">
                        <article>
                            <a href="student_roster.html">
                                <p>CS 485 Sample</p>
                            </a>
                        </article>
                    </div> /sample -->

                    <article class="card">
                        <a href="/templates/student_roster.html">
                            <p></p>
                            <p>WRIT 114-012</p>
                        </a>
                    </article><!-- /card-one -->

                    <article class="card">
                        <a href="/templates/login.html">
                            <p>ENGL 313-801</p>
                        </a>
                    </article><!-- /card-two -->

                    <article class="card">
                        <a href="/templates/login.html">
                            <p>LANG 130-001</p>
                        </a>
                    </article><!-- /card-three -->

                    <article class="card">
                        <a href="/templates/login.html">
                            <p>SOC 101-004</p>
                        </a>
                    </article><!-- /card-four -->

                </section>
            </div>


        </div>

    </div>
</body>

</html>