<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>My movies - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/mymovies.css"/>
  </head>
  <body>
    <div class="sidebar">
            <a class = "picture" href="">
                <img src="/static/images/school.jpg">
            </a>
            <a class="active" href="#home">Dash</a>
            <a href="#contact">Settings</a>
            <a href="/templates/login.html">Logout</a>
        </div>
    {% block content %}{% endblock %}
  </body>
</html>