<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/message.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    

    <title>Dashboard</title>
</head>

<body>

    <div class="content">

        <div class="sidebar">
            <a class = "picture" href="">
                <img src="/static/images/school.jpg">
            </a>
            <a class="active" href="{{ url_for('dashboard_page') }}">Dash</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>

        <div class="right_content">

            <h2>Chat Messages</h2>

<div class="container">
  <img src="/static/images/dr_dave.jpeg" alt="Avatar" style="width:100%;">
  <p>Hi Alexis! I noticed some instances of plagiarism in your last assignment. Please review your report</p>
  <span class="time-right">11:00</span>
</div>

<div class="container darker">
  <img src="/static/images/AlexisLappe.jpg" alt="Avatar" class="right" style="width:100%;">
  <p>Will do! </p>
  <span class="time-left">11:01</span>
</div>

<div class="container">
  <img src="/static/images/dr_dave.jpeg" alt="Avatar" style="width:100%;">
  <p>Thank you! See you in class</p>
  <span class="time-right">11:02</span>
</div>



          
              
         </div>


        
</body>

</html>