<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/student.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    

    <title>Dashboard</title>
</head>

<body>

    <div class="content">

        <div class="sidebar">
            <a class = "picture" href="">
                <img src="/static/images/school.jpg">
            </a>
            <a class="active" href="#home">Dash</a>
            <a href="#contact">Settings</a>
            <a href="{{url_for('logout')}}">Logout</a>
        </div>

        <div class="right_content">

            <div class="header">
                <div class = "hello_bar">
                    <div class ="hello_left">
                        <p>Hello {{ student_name }}</p>
                    </div>
                    <div class = "hello_right">
                        <i class="fa fa-graduation-cap fa-3x" aria-hidden="true"></i>
                    </div>
                </div>
            <div class = "header_right">
                <div class ="icon_right_left">
                    <a  class = "icon_a" href="{{ url_for('messages')}}">
                    <i class="fa fa-comment fa-4x" aria-hidden="true"></i>
                    </a>
                
                </div>
                <div class = "icon_right_right">
                    <a  class = "icon_a" href="{{ url_for('categories') }}">
                        <i class="fa fa-bell fa-4x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            
               

            </div>

            <div class="centered">
                <section class="cards">

                    <article class="card">
                        <a href="/templates/class.html">
                            <p>CS 485-001</p>
                        </a>
                    </article><!-- /card-one -->

                    <article class="card">
                        <a href="/templates/login.html">
                            <p>CS 452-001</p>
                        </a>
                    </article><!-- /card-two -->

                    <article class="card">
                        <a href="/templates/login.html">
                            <p>CJ 205-001</p>
                        </a>
                    </article><!-- /card-three -->

                    <article class="card">
                        <a href="/templates/login.html">
                            <p>Honors 410-001</p>
                        </a>
                    </article><!-- /card-four -->

                </section>
              
            </div>


        </div>

    </div>
</body>

</html>